Numbers
Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
## Answer: 100.25
# Rules for of calculation and its order 
# 1. whatever inside bracket first 
# 2. Second is for exponents 
# 3. Multiplication or Division 
# 4. Addition or Subtraction
# Note: if more brackets go with small brackets first and follow the same rules inside

(60 + (10**2) / 4*7 ) - 134.75

235.0

Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5)

What is the value of the expression 4 * 6 + 5 

What is the value of the expression 4 + 6 * 5

In [ ]:
4 * (6 + 5)

44

In [9]:
4 * 6 + 5

29

In [10]:
4 + 6 * 5

34

What is the type of the result of the expression 3 + 1.5 + 4?

Answer: Floating Point Number

What would you use to find a numberâ€™s square root, as well as its square?

In [11]:
#Square root 
100**0.5

10.0

In [12]:
#square
10**2

100

## Strings
Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [15]:
s = "hello"
s[1]

# "hello"[1]

'e'

In [ ]:
# Reverse the string 'hello' using slicing:

s = "hello"
s[::-1]

'olleh'

In [17]:
# Given the string 'hello', give two methods of producing the letter 'o' 
# using indexing.

# 1 
s = "hello"
s[-1]

'o'

In [18]:
#2 
s[4]

'o'

## Lists
Build this list [0,0,0] two separate ways.

In [19]:
[0] *3

[0, 0, 0]

In [20]:
list_0 = [0,0,0]
list_0

[0, 0, 0]

In [22]:
# Reassign 'hello' in this nested list to say 'goodbye' instead:
list_hello = [1,2,[3,4,"hello"]]
list_hello[2][2] = 'goodbye'
list_hello

[1, 2, [3, 4, 'goodbye']]

In [ ]:
#Sort the list below:
# method 1
list4 = [5,3,4,6,1]
sorted(list4)

[1, 3, 4, 5, 6]

In [ ]:
# method 2
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries
Using keys and indexing, grab the 'hello' from the following dictionaries:

In [29]:
d = {'simple_key':'hello'}

# grab hello
d['simple_key']

'hello'

In [30]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [37]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

# d ['k1'][0]['nest_key'][1] ## return List[hello]
d['k1'][0]['nest_key'][1][0]

'hello'

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

**Answer: No! Because normal dictionaries are mappings not a sequence. **

## Tuples
What is the major difference between tuples and lists?
Tuples are immutable!
How do you create a tuple?

In [42]:
t = (1,2,3)

## Sets
What is unique about a set?
Answer: They don't allow for duplicate items!

Use a set to find the unique values of the list below:

In [43]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans
For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

- (==) If the values of two operands are equal, then the condition becomes true.	(a == b) is not true.

- (!=) If values of two operands are not equal, then condition becomes true.	(a != b) is true.

- (>) If the value of left operand is greater than the value of right operand, then condition becomes true.	(a > b) is not true.

- (<) If the value of left operand is less than the value of right operand, then condition becomes true.	(a < b) is true.

- (>=) If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	(a >= b) is not true.

- (<=) If the value of left operand is less than or equal to the value of right operand, then condition becomes true.	(a <= b) is true.
What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3 # False
3 <= 2 # False
3 == 2.0 # False
3.0 == 3 # True
4**0.5 != 2 # True

False

In [44]:
## What is the boolean output of the cell block below?
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [49]:
1 < 3 > 2

True

In [48]:
1<3 and 3>2

True

In [46]:
1==1 or 100==1

True

In [47]:
1==2 or 2<3

True

## Practice Statements and Loops

#### Use for, .split(), and if to create a Statement that will print out words that start with 's':

In [51]:
statement = 'Print only the words that start with s in this sentence'
st = statement.split()
for word in st:
    if word[0] == 's':
        print(word)

start
s
sentence

In [52]:
# Use range() to print all the even numbers from 0 to 10.

for num in range(10):
    if num%2 == 0:
        print(num)

0
2
4
6
8

In [53]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [54]:

# Use List comprehension to create a list of all numbers 
# between 1 and 50 that are divisible by 3.

divisible_by_3 = [num for num in range(1,51) if num%3 ==0]
divisible_by_3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [59]:

# Go through the string below and if the length of a word is even print "even!"

st = 'Print every word in this sentence that has an even number of letters'

for word in st.split():
    if len(word) %2 ==0:
        print(f"word <-- has even length {len(word)}")

word <-- has even length 4
word <-- has even length 2
word <-- has even length 4
word <-- has even length 8
word <-- has even length 4
word <-- has even length 2
word <-- has even length 4
word <-- has even length 6
word <-- has even length 2

In [60]:

# Write a program that prints the integers from 1 to 100. 
# But for multiples of three print "Fizz" instead of the number, 
# and for the multiples of five print "Buzz". 
# For numbers which are multiples of both three and five print "FizzBuzz".

for num in range(1,101):
    if num %3 ==0 and num%5 == 0:
        print("FizzBuzz")
    elif num %3 ==0:
        print("Fizz")
    elif num %5 ==0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [61]:
# Use a List Comprehension to create a list of the first letters of every word 
# in the string below:


st = 'Create a list of the first letters of every word in this string'

[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']